@{
    ViewBag.Title = "Make an Appointment";
}
<br />
<br />
<br />

<h2>Make an Appointment with @Model.Name </h2>
<form asp-controller="Appointment" asp-action="ViewMyAppointments">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="PatientName" required />
    </div>
    <br />
    <div class="form-group">
        <label for="appointmentDate">Appointment Date:</label>
        <input type="date" class="form-control" id="appointmentDate" name="Date" required />
    </div>
    <br />
    <div class="form-group">
        <label for="appointmentTime">Appointment Time:</label>
        <input type="time" class="form-control" id="appointmentTime" name="Time" required />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>





